body{
    display: flex;
    justify-content: center;
    background-color: black;
    transition: 0.5s;
}

.App{
    transition: 0.5s;
}
#cur{
    height: 20vw;
    width:20vw;
    object-fit: contain;
}

.line{
    display: flex;
    justify-content: center;
}