.hidden {
    visibility: hidden;
}
.ui.container.segment.fire{
    background-color:red;
    color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    z-index: 2;
    transform: translateX(-500px);
}
